.openerp .oe_form td.oe_form_group_cell_label label {
    line-height: 18px;
    display: block;
    min-width: 40px; /* Remove this line */
}

.oe_list_field_cell_nowrap {
  white-space: nowrap !important;
}